#table_riwayat_data_cuaca thead th {
    background-color: #227066; /* contoh: biru Bootstrap */
    color: white;
    text-align: center;
    vertical-align: middle;
}

#table_riwayat_data_cuaca_wrapper .dataTables_paginate {
    margin-top: 20px;
}

#table_riwayat_data_cuaca_wrapper .dataTables_info {
    margin-top: 20px;
}
